body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #5e4674;
}

/* Navbar */
nav {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #4fbc61;
}

.navbar-logo > a {
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	color: #5e4674;
}

.navbar-items {
	list-style: none;
	display: flex;
	font-weight: bold;
}

.navbar-item:hover {
	background-color: #767385;
}

.navbar-item:hover a {
	color: #4fbc61;
}

.navbar-item a {
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	color: #5e4674;
}

.navbar-item a.is-active {
	text-decoration: overline;
	color: white;
}
/* //Navbar */

/* Filters */
.filters {
	margin: 20px auto;
	text-align: center;
	display: flex;
	width: 100%;
	max-width: 960px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	background-color: #c8c6c9;
	height: 50px;
}

.filters div {
	display: flex;
	align-items: center;
}
/* //Filters */

/* Page */
.page {
	margin-bottom: 25px;
}
/* //Page */

small {
	font-size: 14px;
}

.pull {
	float: left;
}

.push {
	float: right;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.container img {
	width: 100%;
	display: block;
}

/* Card Styling */

.card {
	border: 1px solid #dedede;
	background-color: #c8c6c9;
}

.card img {
	max-width: 100%;
	height: auto;
}

.card__item {
	padding: 12px 18px 12px 18px;
}

.card__sub {
	padding: 0 18px;
}

.card__footer {
	padding: 4px;
	overflow: hidden;
	border-top: 1px solid #dedede;
	background-color: #4fbc61;
	text-align: center;
	height: 20px;
}

/*Card Flex Code*/

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.card__wrap--outer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 30px;
}

.card__wrap--inner {
	display: flex;
	flex-direction: row;
	width: 100%;
}

@media (min-width: 480px) {
	.card__wrap--inner {
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.card__wrap--inner {
		width: 17.5%;
	}
}

.flexible {
	flex-grow: 1;
}

.is-favourite,
.is-not-favourite {
	cursor: pointer;
}

.is-favourite:after {
	content: '\2605';
}

.is-not-favourite:after {
	content: '\2606';
}

.is-loading:after {
	content: '';
	width: 14px;
	height: 14px;
	border: 3px solid #fff;
	border-bottom-color: #4fbc61;
	border-radius: 50%;
	display: inline-block;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Loader */
@-webkit-keyframes rotate {
	0% {
		transform: rotate(-0.08turn);
	}
	100% {
		transform: rotate(-1.08turn);
	}
}
@-moz-keyframes rotate {
	0% {
		transform: rotate(-0.08turn);
	}
	100% {
		transform: rotate(-1.08turn);
	}
}
@-o-keyframes rotate {
	0% {
		transform: rotate(-0.08turn);
	}
	100% {
		transform: rotate(-1.08turn);
	}
}
@keyframes rotate {
	0% {
		transform: rotate(-0.08turn);
	}
	100% {
		transform: rotate(-1.08turn);
	}
}
@-webkit-keyframes hideEye {
	0%,
	10%,
	85% {
		margin-top: 0;
		height: 50px;
	}
	30%,
	65% {
		margin-top: 20px;
		height: 30px;
	}
}
@-moz-keyframes hideEye {
	0%,
	10%,
	85% {
		margin-top: 0;
		height: 50px;
	}
	30%,
	65% {
		margin-top: 20px;
		height: 30px;
	}
}
@-o-keyframes hideEye {
	0%,
	10%,
	85% {
		margin-top: 0;
		height: 50px;
	}
	30%,
	65% {
		margin-top: 20px;
		height: 30px;
	}
}
@keyframes hideEye {
	0%,
	10%,
	85% {
		margin-top: 0;
		height: 50px;
	}
	30%,
	65% {
		margin-top: 20px;
		height: 30px;
	}
}
@-webkit-keyframes blink {
	0%,
	10%,
	85% {
		bottom: 0;
	}
	30%,
	65% {
		bottom: 20px;
	}
	0% {
		transform: rotate(-0.08turn);
	}
	100% {
		transform: rotate(-1.08turn);
	}
}
@-moz-keyframes blink {
	0%,
	10%,
	85% {
		bottom: 0;
	}
	30%,
	65% {
		bottom: 20px;
	}
	0% {
		transform: rotate(-0.08turn);
	}
	100% {
		transform: rotate(-1.08turn);
	}
}
@-o-keyframes blink {
	0%,
	10%,
	85% {
		bottom: 0;
	}
	30%,
	65% {
		bottom: 20px;
	}
	0% {
		transform: rotate(-0.08turn);
	}
	100% {
		transform: rotate(-1.08turn);
	}
}
@keyframes blink {
	0%,
	10%,
	85% {
		bottom: 0;
	}
	30%,
	65% {
		bottom: 20px;
	}
	0% {
		transform: rotate(-0.08turn);
	}
	100% {
		transform: rotate(-1.08turn);
	}
}
.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 260px;
	height: 260px;
	margin-left: -130px;
	margin-top: -130px;
}
.loader .track {
	width: 100%;
	height: 100%;
	border: solid rgb(172, 212, 183);
	border-width: 5px 5px 3px 0;
	border-top-color: transparent;
	border-radius: 50%;
	margin-left: -3px;
	margin-top: -3px;
	-webkit-animation: rotate 3s infinite linear;
	-moz-animation: rotate 3s infinite linear;
	-o-animation: rotate 3s infinite linear;
	animation: rotate 3s infinite linear;
}
.loader .track .mouse {
	position: absolute;
	right: 31px;
	top: 18px;
	width: 25px;
	height: 25px;
	background: #4fbc61;
	border-radius: 80% 0 55% 50%/55% 0 80% 50%;
	transform: rotate(-95deg);
}
.loader .track .mouse:before,
.loader .track .mouse:after {
	position: absolute;
	content: '';
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: inherit;
}
 .loader .track .mouse:before {
	left: 5px;
	top: -4px;
}
 .loader .track .mouse:after {
	left: 20px;
	top: 11px;
}
 .loader .face {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 130px;
	height: 130px;
	margin-left: -65px;
	margin-top: -65px;
}
 .loader .face:before,
 .loader .face:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 100%;
}
 .loader .face:before {
	background: #c8c6c9;
	border-top-left-radius: 65px;
	border-bottom-left-radius: 55px;
}
 .loader .face:after {
	left: 50%;
	background: #d0ced1;
	border-top-right-radius: 65px;
	border-bottom-right-radius: 55px;
}
 .loader .face .ears-container {
	position: absolute;
	top: -8px;
	width: 130px;
	height: 50px;
}
 .loader .face .ears-container:before,
 .loader .face .ears-container:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
}
 .loader .face .ears-container:before {
	border-left: 35px solid #c8c6c9;
}
 .loader .face .ears-container:after {
	right: 0;
	border-right: 35px solid #d0ced1;
}
 .loader .face .eyes-container {
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 30px;
	width: 106px;
	height: 50px;
	margin-left: -53px;
	z-index: 1;
	-webkit-animation: hideEye 3s infinite linear;
	-moz-animation: hideEye 3s infinite linear;
	-o-animation: hideEye 3s infinite linear;
	animation: hideEye 3s infinite linear;
}
 .loader .face .eyes-container .eye {
	position: relative;
	bottom: 0;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #c8c6c9;
	background: white;
	-webkit-animation: blink 3s infinite linear;
	-moz-animation: blink 3s infinite linear;
	-o-animation: blink 3s infinite linear;
	animation: blink 3s infinite linear;
}
 .loader .face .eyes-container .eye:after {
	position: absolute;
	content: '';
	top: 4px;
	right: 14px;
	width: 12px;
	height: 12px;
	border-radius: inherit;
	background: #838091;
}
 .loader .face .eyes-container .eye:last-child {
	float: right;
	color: #d0ced1;
}
 .loader .face .phiz {
	position: absolute;
	left: 50%;
	top: 66px;
	width: 32px;
	height: 48px;
	margin-left: -16px;
	z-index: 1;
}
 .loader .face .phiz .nose {
	width: 100%;
	height: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background: #838091;
}
 .loader .face .phiz .lip {
	position: relative;
	left: 50%;
	width: 4px;
	height: 12px;
	margin-left: -2px;
	background: #838091;
}
 .loader .face .phiz .lip:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	background: #767385;
}
 .loader .face .phiz .mouth {
	position: relative;
	left: 50%;
	width: 20px;
	height: 6px;
	margin-left: -13px;
	background: white;
	border: 3px solid #838091;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}
/* //Loader */
